<h1>Welcome, <%= current_user.email %></h1>

<%= link_to "Articles", articles_path %>
<%= link_to "My Profile", 'users/edit' %>
<%= link_to 'Logout', destroy_user_session_path %>

<% if current_user.otp_required_for_login %>
  <p>Two factor authentication is enabled.</p>
  <%= button_to('Disable Two Factor Authentication', two_factor_settings_path, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure you want to disable two factor authentication?'}) %>
<% else %>
  <p>Two factor authentication is NOT enabled.</p>
  <%= link_to('Enable Two Factor Authentication', new_two_factor_settings_path, class: 'btn btn-primary') %>
<% end %>

<%# <h2>Stimulus Check</h2>

<div data-controller="hello">
  <input data-hello-target="name" type="text">

  <button data-action="click->hello#greet">
    Greet
  </button>

  <span data-hello-target="output">
  </span>
</div> %>
